{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard",
    "plugin:jest/all",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["prettier", "jest", "jsx-a11y"],
  "rules": {
    "indent": ["error", 2],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": 0,
    "template-curly-spacing": ["error", "never"],
    "import/prefer-default-export": 0,
    "react/prop-types": 0
  }
}
